<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tronel</title>
    <link rel="stylesheet" type="text/css" href="/load.css" />
    <link rel="stylesheet" type="text/css" href="/bundle.css" />
  </head>
  <body>
    <div id="root">
      <div class="actionCon">
        <div class="actionLoading">
          <div class="loding1"></div>
          <div class="loding2"></div>
          <div class="loding3"></div>
        </div>
      </div>
    </div>
    <script src="/bundle.js"></script>
  </body>
</html>
