@primary-dark: #16161a;
@secondary-dark: #19191e;
@primary-charocal-gray: #313035;
@secondary-charocal-gray: #313035;
@dark-charocal-gray: #343844;
@brownish-grey: #6f6f6f;
@light-gray: #b2b4b7;
@dark-gray: #3c3c3c;
@light-royal-blue: #453cff;

