@primary-dark: #16161a;
@secondary-dark: #19191e;
@primary-charocal-gray: #313035;
@secondary-charocal-gray: #313035;
@dark-charocal-gray: #343844;
@steel-grey: #717f8e;
@brownish-grey: #6f6f6f;
@light-gray: #b2b4b7;
@secondary-light-gray: #46444d;
@dark-gray: #3c3c3c;
@light-royal-blue: #453cff;
@orange: #C63028;
@brownish-grey: #6f6f6f;
@golden: #c99e48;
@white-gray: #f3f3f3;
@purple-grey: #4d556f;
@faded-red: #c94850;
@nasty-green: #80b541;

